.services {
  text-align: center;
  padding: 7rem;
}

.services h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.service-title {
  font-weight: bold;
  color: black
}

.service-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  color: #000;
}

.service-card img {
  width: 70%;
  max-width: 90%;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  position: relative; 
}

.service-card img:hover::after {
  content: attr(alt); 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0 0 5px 5px;
  pointer-events: none; 
  font-weight: bold; 
}

.service-description {
  opacity: 1;
  max-width: 90%;
}


@media screen and (min-width: 768px) {
  .service-description {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .service-card:hover .service-description {
    opacity: 1;
  }
}

