body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4b749c;
  color: #d4cfcf;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}

li {
  margin-bottom: 40px;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #4b749c;
  list-style: none;
}

p {
  font-size: 1.4rem;
  color: #2b2c64;
  text-align: justify;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
