.about-link, .contact-link {
  color: #446b9c;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 20px; 
  padding: 35px;
  justify-content: center;
}
.aboutChicas {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  /*  background-color:#5ca0c827; */
   

}
#about-us p {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 0px;
}
