.about-link, .contact-link {
  color: rgb(20, 41, 233);
  font-weight: bold;
  text-decoration: underline;
  margin-right: 20px; /* Agrega un margen derecho para separar los links */
}
.aboutChicas{
  display:flex ;
 justify-content: center;
}