@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat&display=swap');

.LI {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .list-item {
    color: black;
    font-size: 20px;
    margin: 10px 15px !important; 
  }
  
  
  .list-item:hover {
    background-color: #76c6eb;
    cursor: pointer;
  }
  