
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }
  
  .NavBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
  }
  
  .Frase {
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 0;
  }
  
  
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:royalblue;
  }
  
  .Content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  